/* Estilos para el componente DrawClass */

.class-diagram {
    border: 2px solid #DC2DDE;
    width: 300px;
    padding: 10px;
    margin: 10px;
  }
  
  .class-header {
    background-color: #DC2DDE;
    border-bottom: 2px solid #DC2DDE;
    padding: 10px;
    text-align: center;
  }
  
  .class-name {
    color: #333333;
    font-size: 20px;
  }
  
  .class-body {
    margin-top: 10px;
  }
  
  .attributes,
  .methods {
    list-style-type: none;
    padding-left: 0;
  }
  
  .attributes li,
  .methods li {
    color: #333333;
    margin: 5px 0;
  }
  