/* Menu.css */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  z-index: 1;
  font-family: Arial, sans-serif; /* Cambia la fuente de letra */
}

.menu-items {
  display: flex;
  align-items: center;
  list-style: none; /* Elimina las viñetas de la lista */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
  margin: 0; /* Elimina el margen predeterminado de la lista */
}

.menu-item {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff; /* Color de texto blanco */
  text-decoration: none; /* Quita subrayado de enlaces */
}

.menu-item:hover {
  background: #555; /* Cambia el color de fondo en el hover */
}

.has-submenu::after {
  content: '▶';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff; /* Color de flecha blanco */
  font-size: 0.5em; /* Ajusta el tamaño de la flecha (puedes ajustar el valor según tus preferencias) */
}


.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  z-index: 2;
  min-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.open-submenu .sub-menu {
  display: block;
}
